.bg { /* Background image on login and registration page */
    position: fixed;
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    background: url(/nikolay-vorobyev-QJ2HGuSSQz0-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    opacity: .15;
    z-index: -1;
  }

.center-container {
    text-align: center;
    margin-top: 40%;
    margin-bottom: 15%;
}

.title {
    font-family: 'Russo One', sans-serif;
    font-size: 300%;
    color: blue;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    width: 50%;
    height: 25vh;
    margin: 20px auto;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.top-title {
    text-align: center;
    margin-top: 3vh;
    text-decoration: none;
  }
  
  .nav-title h2 {
      font-size: 24px;
      font-weight: 700;
      display: inline-block;
      color: black;
  }