.bg { /* Background image on login and registration page */
    position: fixed;
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    background: url(/nikolay-vorobyev-QJ2HGuSSQz0-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    opacity: .25;
    z-index: -1;
  }

/* makes up for fixed navbar on the bottom of screen */
.site-content {
  margin-bottom: 98px;
}

.center-container {
    text-align: center;
    margin-top: 40%;
    margin-bottom: 15%;
}

.title {
    font-family: 'Russo One', sans-serif;
    font-size: 300%;
    color: #26408B;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #f7f7f7;
    margin: 50px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form {
    width: 50%;
    height: 25vh;
    margin: 20px auto;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.top-title {
    text-align: center;
    padding-top: 3vh;
    text-decoration: none;
  }
  
  .nav-title h2 {
      font-size: 24px;
      font-weight: 700;
      display: inline-block;
      color: black;
  }

  .MuiRadio-root {
      padding: 4px !important;
  }

/* CLASSES FOR ROUTE TRANSITIONS */
  /* controls coditions for the CSS transition in react-trainsition-group */
.fade-enter {
    opacity: 0;
    z-index: 1;
  }
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }

  /* fade classes ensure that the exiting component disappears immediately during transition */
.fade-exit {
    opacity: 1
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 0ms ease-in-out
}

/* nav styling */
.nav {
    /* overflow: hidden; */
    background-color: #26408B;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  
  .nav-link {
    color: white;
    background-color: #26408B;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 15px;
  
    /* these last two make the logout button in
    the nav bar look like another link */
    border:none;
    cursor: pointer;
    outline:0;
  }
  
  .nav-icons {
    display: flex;
    justify-content: space-evenly;
  }