.add-word-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    flex-wrap: wrap;
}

.add-word-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-container {
    height: 80vh;
    width: 85vw;
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: auto;
    position: relative;
}

.new-word-card {
    width: 80%;
    height: 80%;
}

* {
    margin: 0;
}

.MuiCardContent-root {
    padding: 10px !important;
}
