.nav {
  overflow: hidden;
  background-color: #00acb0;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #008183;
}

.nav-icons {
  display: flex;
  justify-content: space-evenly;
  display: flex;
  justify-content: space-evenly;
}